.popup {
	border-left: 1px dotted lightGray;
}

.popup:hover {
	color: dodgerBlue;
}

.popup span {
	position: absolute;
	visibility: hidden;
	background-color: lightGray;
	padding: 2px;
	border: 1px dotted dodgerBlue;
}

.popup:hover span {
	visibility: visible;
	top: 4px;
	z-index: 50;
}










.thumbnail span{ /*CSS for enlarged image*/
	position: absolute;
	background-color: lightyellow;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}



.thumbnail:hover span{ /*CSS for enlarged image*/
	visibility: visible;
	top: 0;
	left: 230px; /*position where enlarged image should offset horizontally */
	z-index: 50;
}

